@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Witaj w systemie zarządzania testami! <span class="glyphicon glyphicon-book"></span></h2>
@Html.ActionLink("Zarządzaj użytkownikami","Index","Users")

